*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color:black;
  font-family: helvetica;
}

/*header stuff*/
.header{
  display: flex;
  background-color: black;
  width: 100%;
  height: 69px;
  position:fixed;
  border-bottom: #F42D88 solid 1px;
  top: 0;
  left:0;
  z-index: 10;
}
.logo{
  height: 60px;
  margin: 10px 0px 15px 10px;
}
/*navigation*/
.navigation{
  display: flex;
  align-items: center;
  position: relative;
  left: 530px;
  text-decoration-line: none;
}
.navigation span{
padding-left: 12px;
font-size: 22px;
text-decoration-line: none;
letter-spacing: 1px;
}
span{
  text-decoration-line: none;
}
a{
  color: #F42D88;
  font-size: 48px;
  padding-left: 10px;
  text-decoration: none;
}
a:hover{
  color:#F06AF4;
}
/*end navigation*/
/*end header stuff*/

body{
/*  height: 700px;*/
  width: 1200px;
  margin-left: 40px;
  text-align: center;
  background-color:black;
  font-family: sweetgentle;
  font-size: 40px;
  font-weight:200;

  color: #F42D88;
}
/*CENTER BAND TOP*/
#mission{
  background-image: url("../resources/images/background.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 700px;
  padding-top: 70px;
  margin-left: 48px;
}
.center-band{
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
}
.top-content h4{
  font-weight: 200;
}
#mission .top-content{
  margin-top: 30px;
  background-color:;
  opacity: 1;
  width: 100%;
}

/*END CENTER BAND TOP*/
/*TEA OF THE MONTH*/
#store{
  height: 700px;
  width: 1000px;
  margin:auto;
  padding-top: 70px;
}

#store .middle-content{

}

.middle-content{
  margin-top: 310px;
  background-color: black;
}
/*END TEA OF THE MONTH*/

/*STORE ITEMS*/

.items{
  margin-top: 30px;
  display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;

}.item{
  padding: 8px;
}

.item img{
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.item img:hover{
  opacity: .6;
}
.item span{
  padding-top: 10px;
  text-align: center;
  display: block;
  font-weight: 200;
}
/* END STORE ITEMS*/
/*LOCATIONS*/
.locations-container{
  background-image: url("../resources/images/img-locations-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 560px auto 70px auto;
  width: 1200px;
  height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
 text-align: center;
}
#locations .location-header{
margin-bottom: 70px;
position: relative;
top:auto;
bottom: 145px;
left: 255px;
z-index: 0;
}
.area-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 180px;
}
.location{
  display: flex;
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;

  margin-left: 40px;
  align-content: center;
  flex-direction: column;


}
.location p{
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
/*LOCATIONS END*/
/*Footer*/
.footer{
  height: 200px;
  padding-top: 15px;
}
.footer h5{
font-size: 38px;
  padding-bottom: 15px;
}
.footer h2{
  padding-bottom: 15px;
  font-weight: 200;
}
.copyright{
  text-align: left;
  margin-right: 880px;
  height: 40px;
  width: 400px;
}
/*END FOOTER*/
@font-face {
  font-family: Sweetgentle;
  src:url("../resources/Sweetgentle Free.otf") format("opentype");
  font-size: 2rem;
}
